@import url(https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap);
body {
    font-family: Arial, sans-serif;
}

.search {
    margin-bottom: 20px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.book-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.book-item img {
    max-width: 100px;
    height: auto;
}

.modal-container {
    display: none; /* Изначально скрыт */
    position: fixed; /* Фиксированное позиционирование */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.book-details-content {
    background: white;
    margin: 10% auto;
    padding: 20px;
    width: 90%;
    max-width: 400px;
}
